row .issue-id {
	color: grey;
	font-size: small;
	font-weight: normal;
}

row:selected .issue-id {
	color: black;
}

.issue-title {
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
	font-weight: bold;
	font-size: x-large;
}

.issue-description {
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
	font-size: large;
	/* TODO: this can't be used with darkmode!!! */
	color: rgba(0,0,0,1);
}

combobox {
  font-size: medium;
}

.issue-page {
	border-left: 1px solid lightgrey;
}

.notes-view {
	background-color: rgba(0,0,0,0);
}

.notes-view:hover row  {
	background-color: rgba(0,0,0,0);
}

.avatar-text {
	font-size: small;
}

.backend-box {
  border-top: 1px solid lightgrey;
}

.search-box {
  border-bottom: 1px solid lightgrey;
}
